numpy
matplotlib
scikit-learn
scipy
torch
torchvision
transformers
lightgbm
xgboost
catboost
umap-learn
jupyter-book
ipykernel
datasets
accelerate
tqdm
pillow
tensorflow
keras-tuner
pandas
statsmodels
networkx
dowhy
econml
causalml
mlflow
seaborn
fastapi
uvicorn
evidently